body {
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

header {
    background-color: #4caf50;
    color: white;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;

}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;

}

nav a:hover {
    text-decoration: underline;
}

main {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px 0;

}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

p {
    font-size: 1.1em;
}

a {
    color: #4caf50;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img {
    border: 5px solid #4caf50;
    border-radius: 10px;
}

main a[href^="mailto:"] {
    color: #ff5722;
    font-weight: bold;
}